<%- include('../includes/head.ejs') %>
<style>
    .special-top {
        position: relative;
        height: 200px;
        margin: 0 auto;
    }

    .special-top .content {
        position: absolute;
        top: 0px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        height: 190px;
        padding: 20px;
    }

    .nav-data-item:hover {
        color: red;
        border-bottom-style: solid;
    }
</style>
</head>

<body style="font-family: ubuntu; background: #F6F9FA;">
    <%- include('../includes/navigation.ejs') %>

    <div class="container">

        <%- include('researchNav.ejs') %>

        <div class="border">
            <div class="border-bottom" style="padding-left: 70px;">
                <h6 class="mt-2" style="color: gray;">
                    MetaData
                </h6>
            </div>
            <div style="padding-left: 60px;">
                <table class="table table-borderless">
                    <tr rowspan="2">
                        <th>
                            Usage Information
                        </th>
                        <td style="color: gray;">
                            Licence
                        </td>
                        <td>
                            MIT (Specific in Description Box)
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="color: gray;">
                            Visibility
                        </td>
                        <td>
                            Public
                        </td>
                    </tr>

                    <tr>
                        <th>
                            Maintainers
                        </th>
                        <td style="color: gray;">
                            Dataset Owner
                        </td>
                        <td>
                            <img src="images/Masum.png" style="width: 30px;height:30px; border-radius:50%;">
                            <span><a href="#" class="ml-2" style="text-decoration: none;"> eeshadeeplearning </a></span>
                        </td>
                    </tr>

                    <tr rowspan="4">
                        <th>
                            Updates
                        </th>
                        <td style="color: gray;">
                            Expected update frequency
                        </td>
                        <td>
                            Not Specified
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="color: gray;">
                            Last Updated
                        </td>
                        <td>
                            2019.05.12
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="color: gray;">
                            Created at
                        </td>
                        <td>
                            2019.05.11
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td style="color: gray;">
                            Version
                        </td>
                        <td>
                            Version 1
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <br>
    </div>
    <%- include('../includes/end.ejs') %>