<footer class="shadow" style="background: #1F2632; color: white; bottom: 0; left: 0; right: 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <table class="mt-3 mb-2">
                    <tr>
                        <td>
                            <h3>About Us</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Achievement</a>
                        </td>
                    </tr>
                    <td>
                        <a href="#">Locations | Maps | Direction</a>
                    </td>
                    <tr>
                        <td>
                            <a href="#">News and Events</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Notice Board</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Contact Us</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
                <table class="mt-3 mb-2">
                    <tr>
                        <td>
                            <h3>Research</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Journal</a>
                        </td>
                    </tr>
                    <td>
                        <a href="#">Online Journal</a>
                    </td>
                    <tr>
                        <td>
                            <a href="#">Laboratory</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Conference</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Center for Research, Testing and Consultant</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4">
                <table class="mt-3 mb-2">
                    <tr>
                        <td>
                            <h3>University</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Student Life</a>
                        </td>
                    </tr>
                    <td>
                        <a href="#">Cultural States</a>
                    </td>
                    <tr>
                        <td>
                            <a href="#">Residence Hall</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Student Organizations</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Something Else</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div style="background: #293243;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-1 mb-1">

                    Computer Science & Engineering, SUST

                </div>
                <div class="col-md-4 mt-1 mb-1">
                    <i class="fa fa-copyright"></i>All rights reserved.
                </div>
                <div class="col-md-4 mt-1 mb-1">
                        <i class="fa fa-github mr-3"></i>
                        <i class="fa fa-ils mr-3"></i>
                        <i class="fa fa-twitter mr-3"></i>
                        <i class="fa fa-connectdevelop mr-3"></i>
                        <i class="fa fa-skyatlas mr-3"></i>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>