<!-- <img src="images/XOSS.jpg" width="100%" height="140px"/> -->
<!-- #4CBB17 | 00F04E; -->
<nav class="shadow navbar navbar-expand-lg navbar-dark" style="background: #0B3861; font-size: 18px;">
    <a href="/" class="navbar-brand">

        <kbd style="color: #58FF33;">banglaSketch</kbd>
        <!-- <b style="font-family: Ubuntu;" class="ml-1">Sketch</b> -->

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <span style="padding-right: 20px;"></span>
            <li class="nav-item">
                <a href="/profileIndex" class="nav-link">

                    <i class="d-lg-none mr-2 fa fa-users"></i>
                    People
                </a> </li>
            <li class="nav-item">
                <a href="/researchIndex" class="nav-link font-weight-normal">

                    <i class="d-lg-none mr-2 fa fa-cogs"></i>
                    Research
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">

                    <i class="d-lg-none mr-2 fa fa-puzzle-piece"></i>
                    Publications
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">

                    <i class="d-lg-none mr-2 fa fa-slack"></i>
                    News
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <!-- <h5>Resources</h5> -->
                    <i class="d-lg-none mr-2 fa fa-files-o"></i>
                    Resources
                </a>
            </li>

            <li class="nav-item">
                <a href="/api" class="nav-link">

                    <i class="d-lg-none mr-2 fa fa-home"></i>
                    API
                </a>
            </li>

            <li class="nav-item">
                <a href="/aboutus" class="nav-link">

                    <i class="d-lg-none mr-2 fa fa-pied-piper-alt"></i>
                    About Us
                </a>
            </li>
            <li class="nav-item">
                <a href="/adminPage" class="nav-link">

                    <i class="d-lg-none mr-2 fa fa-steam"></i>
                    Admin
                </a>
            </li>
        </ul>

        <form class="form-inline mt-0 ml-auto">
            <div class="input-group">
                <input type="search" class="form-control form-control-sm bg-light"
                    style="color: rgb(6, 6, 7); width: 300px;" placeholder="Search">
                <div class="input-group-append">
                    <button class="input-group-text btn btn-outline-warning"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>