<%- include('../includes/head.ejs') %>
<style>
    .hovereffect {
        width: 100%;
        height: 100%;
        float: center;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        padding: 100px;
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;

    }

    .hovereffect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
        filter: grayscale(1) blur(1px);
        -webkit-filter: grayscale(1) blur(1px);
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);

    }


    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 4px;
        border: 1px solid #fff;
        margin: 80px 0 0 0;
        color: #fff;
        background-color: transparent;
    }

    .hovereffect a.info:hover {
        box-shadow: 0 0 3px #000;
    }

    .hovereffect a.info,
    .hovereffect h2 {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
        opacity: 0;
        filter: alpha(opacity=0);
        color: #fff;
        text-transform: uppercase;
    }

    .hovereffect:hover a.info,
    .hovereffect:hover h2 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
</style>
</head>

<body style="font-family: ubuntu;">
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        <h3 class="mt-3" style="color: royalblue;">| Professor</h3>
        <br>

        <!-- first row -->

        <div class="d-flex">
            <div class="col-4">
                <div style="text-align: center;" class="ml-4">
                    <div class="d-flex hovereffect">
                        <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true"
                            aria-controls="collapseExample1">
                            <img src="/images/mzi.jpg" class="img-thumbnail w-100 h-100" style="
                                                border-radius: 50%;" alt="No image founded">
                        </a>
                    </div>
                    <p class="mt-2">
                        Dr Muhammed Zafar Iqbal <br> Professor
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div style="text-align: center;" class="ml-4">
                    <div class="d-flex hovereffect">
                        <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true"
                            aria-controls="collapseExample2">
                            <img src="/images/default.jpg" class="img-thumbnail w-100 h-100" style="
                                                    border-radius: 50%;" alt="No image founded">
                        </a>
                        <!-- <div class="d-flex overlay">
                                <a class="info" data-toggle="collapse" href="#collapseExample1" role="button"
                                    aria-expanded="true" aria-controls="collapseExample1"
                                    style="color: rgb(32, 23, 161);">Details</a>
                            </div> -->
                    </div>
                    <p class="mt-2">
                        Mohammad Abdullah Al Mumin <br> 
                        <b style="font-weight: 900;">Professor</b>
                    </p>
                </div>
            </div>

            <div class="col-4">
            </div>

        </div>

        <div class="d-flex justify-content-start" id="collapseHocce">
            <div class="shadow collapsing multi-collpase mb-4" id="collapseExample1" data-parent="#collapseHocce">
                <div class="d-flex card shadow">
                    <div class="shadow card-header w-100">
                        <div class="d-flex">
                            <div class="col-11">
                                <a href="#" style="text-decoration: none;">
                                    Dr Muhammed Zafar Iqbal | Professor
                                </a>

                            </div>
                            <div class="col-1">
                                <button class="shadow btn btn-sm btn-success" type="button" data-toggle="collapse"
                                    data-target="#collapseExample1" aria-expanded="true"
                                    aria-controls="collapseExample1"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="shadow card-body w-100 h-25">
                        Contact Information:
                        Office Address: Room no: 324, Department of CSE, Dr. M. A.
                        Wazed Miah IICT Building, Shahjalal University of Science and Technology, Sylhet-3114
                        <br><a href="/profileIndividual"> more..</a>
                    </div>
                </div>
            </div>

            <div class="shadow collapsing multi-collpase mb-4" id="collapseExample2" data-parent="#collapseHocce">
                <div class="d-flex card shadow">
                    <div class="shadow card-header w-100">
                        <div class="d-flex">
                            <div class="col-11">
                                <a href="#" style="text-decoration: none;">
                                    Mohammad Abdullah Al Mumin | Professor
                                </a>

                            </div>
                            <div class="col-1">
                                <button class="shadow btn btn-sm btn-success" type="button" data-toggle="collapse"
                                    data-target="#collapseExample2" aria-expanded="true"
                                    aria-controls="collapseExample2"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="shadow card-body w-100 h-25">
                        Contact Information:
                        Phone: 88-01711445110
                        Email: mumin-cse@sust.edu
                        Wazed Miah IICT Building, Shahjalal University of Science and Technology, Sylhet-3114
                        <br>
                        <a href="/profileIndividual"> more..</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- first row ses -->

        <!-- second row suru -->

        <h3 class="mt-3" style="color: royalblue;">| Associate Professor</h3>
        <br>

        <div class="d-flex">
            <div class="col-4">
                <div style="text-align: center;" class="ml-4">
                    <div class="d-flex hovereffect">
                        <a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="true"
                            aria-controls="collapseExample3">
                            <img src="/images/forida.jpg" class="img-thumbnail w-100 h-100" style="
                                                    border-radius: 50%;" alt="No image founded">
                        </a>
                    </div>
                    <p class="mt-2">
                        Dr. Farida Chowdhury <br> Associate Professor
                    </p>
                </div>
            </div>

            <div class="col-4">
                <div style="text-align: center;" class="ml-4">
                    <div class="d-flex hovereffect">
                        <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="true"
                            aria-controls="collapseExample2">
                            <img src="/images/default.jpg" class="img-thumbnail w-100 h-100" style="
                                                        border-radius: 50%;" alt="No image founded">
                        </a>
                    </div>
                    <p class="mt-2">
                        Ripul Ferdous <br> Associate Professor
                    </p>
                </div>
            </div>

            <div class="col-4">
            </div>

        </div>

        <div class="d-flex" id="collapseHocce1">
            <div class="shadow collapsing multi-collpase mb-4" id="collapseExample3" data-parent="#collapseHocce1">
                <div class="d-flex card shadow">
                    <div class="shadow card-header w-100">
                        <div class="d-flex">
                            <div class="col-11">
                                <a href="#" style="text-decoration: none;">
                                        Dr. Farida Chowdhury | Associate Professor
                                </a>

                            </div>
                            <div class="col-1">
                                <button class="shadow btn btn-sm btn-success" type="button" data-toggle="collapse"
                                    data-target="#collapseExample3" aria-expanded="true"
                                    aria-controls="collapseExample3"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="shadow card-body w-100 h-25">
                        Contact Information:
                        Email: deeba.bd@gmail.com
                        Education:
                        PhD in Structured Peer-to-Peer Overlays for NATed Churn Intensive
                        Networks at University of Stirling, Stirling, Scotland, UK.
                        <br>
                        <a href="/profileIndividual"> more..</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <br>
    </!-->


    <%- include('../includes/end.ejs') %>