<%- include('../includes/head.ejs') %>
</head>

<body style="font-family: ubuntu;">
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        <h4 class="mt-3" style="color:crimson;"><span style="color:teal;">|</span> Faculty Profile</h4>
        
        <div class="ml-3">
            <div class="mt-3">
                <img src="images/mzi.jpg" style="width: 30%; height: 40%;" class="img-thumbnail">
            </div>
            <div class="mt-3">
                <h5>Dr Muhammed Zafar Iqbal </h5>
                <li style="list-style: none;">Designation</li>
            </div>
            <hr>

            <h4 class="mt-3">Contact Information: </h4>
            <div>
                <li style="list-style: none;"> Office Address: Room no: 324, Department of Computer Science and Engineering, Dr. M. A. Wazed Miah IICT Building, Shahjalal University of Science and Technology, Sylhet-3114 </li>
                <li style="list-style: none;">Phone</li>
                <li style="list-style: none;">Email</li>
            </div>
            <hr>

            <h4 class="mt-3">Education: </h4>
            <div>
                <li style="list-style: none;"> Ph. D (1982). in Experimental Physics, University of Washington, Seattle, USA </li>
                <li style="list-style: none;">MSc. (1974) in Theoritical Physics, University of Dhaka</li>
                <li style="list-style: none;">BSc. (Hon's- 1973) in Physics, University of Dhaka</li>
            </div>
            <hr>

            <h4 class="mt-3">Research Interests: </h4>
            <div>
                <li style="list-style: none;"> Bangla OCR </li>
                <li style="list-style: none;">Bangla Natural Language Processing</li>
                <li style="list-style: none;">WDM Network</li>
            </div>
            <hr>

            <h4 class="mt-3">Awards & Recognition: </h4>
            <div>
                <li style="list-style: none;">Deyan Golam Mortoza Shriti Award 2009 (Hobigonj)</li>
                <li style="list-style: none;">Shishu Academy Agrani Bank Shishu Shahitto Award 1408 Era</li>
                <li style="list-style: none;">Uro Child Literary Award 2006</li>
            </div>
            <hr>

            <h4 class="mt-3">Journal Publications: </h4>
            <div>
                <li class="ml-3" style="list-style: decimal;">Ujjal Kumar Bhowmik, M. Zafar Iqbal, Reza R. Adhami; Mitigation Motion Artifacts in FDK based 3D Cone-beam Brain Imaging System using Markers; Central European Journal of Engineering, May 2012 </li>
                <li class="ml-3" style="list-style: decimal;">Transformational Generative Grammar for Various Types of Bengali Sentences. M. Reza Selim and M. Z.Iqbal; SUST Studies of SUST; Vol. 12; March, 2010</li>
                
            </div>
            <hr>

            <h4 class="mt-3">Teaching: </h4>
            <div>
                <li style="list-style: none;"> Discrete Mathematics  </li>
                <li style="list-style: none;">Digital Logic Design </li>
                <li style="list-style: none;">Electronics Devices </li>
            </div>
            <hr>

            <h4 class="mt-3">Graduate Supervision: </h4>
            <div>
                <li class="ml-3" style="list-style: decimal;"> Phd 3 (on going) </li>
                <li class="ml-3" style="list-style: decimal;">M.Sc(Thesis) 5 Awarded</li>
                
            </div>
            <hr>

        </div>

    </div>

    <%- include('../includes/end.ejs') %>