
<%- include('includes/head.ejs') %>
</head>

<body style="font-family: ubuntu;">
    <%- include('includes/navigation.ejs') %>
   
    <div class="container">
        <div class="row justify-content-center mt-4">
                <h1> 404 | ERROR</h1><br> <br>
        </div>
    </div>



</body>
</html>