
<div class="adminIndex">
    <a href="/add-profile" class="personal-link">
        <h5> Add Profile <span style="color: rgb(56, 204, 51);">|</span>
        </h5>
    </a>
</div>


<div class="adminIndex mt-3">
    <a href="#" class="personal-link">
        <h5> Add Resources <span style="color: rgb(56, 204, 51);">|</span> </h5>
    </a>
</div>


<div class="adminIndex mt-3">
    <a href="#" class="personal-link">
        <h5> Upload or Delete <span style="color: rgb(56, 204, 51);">|</span> </h5>
    </a>
</div>
