<ul class="nav nav-tabs text-center card-header-tabs">
    <li class="nav-item">
        <a href="/add-profile" class="nav-link <%= path === '/add-profile' ? 'active' : '' %>">Add Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Add Resources</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Upload or Delete</a>
    </li>
</ul>