<%- include('../includes/head.ejs') %>

<style>
    .linkcolor {
        color: grey;
    }

    .underline:hover {
        color: rgb(178, 72, 240);
        border-bottom-style: solid;
    }

    textarea {
        border: none;
        overflow: auto;
        outline: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        resize: none;
    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body style="font-family: ubuntu;">
    <%- include('../includes/navigation.ejs') %>

    <div class="mt-5"></div>


    <div class="container-fluid" style="font-size: 14px;">
        <div class="d-inline-block p-3">
            <a href="#" style="font-size: 15px;"
                class="shadow p-2 border-primary btn btn-sm text-primary fa fa-language">
                <span style="font-family: ubuntu;"> Text</span></a>
            <a href="#" style="font-size: 15px;" class="ml-4 p-2 shadow border-info btn btn-sm text-info fa fa-file">
                <span style="font-family: ubuntu;"> Documents</span></a>
        </div>

        <div class="d-flex shadow">
            <div class="d-flex" style="width: 55%;">
                <div class="d-flex w-100">
                    <div class="underline p-2 ml-3 text-primary" style="text-align: center;">
                        <a href="#" class="linkcolor" style="text-decoration: none;">ENGLISH</a>
                    </div>
                    <!-- <div class="underline p-2 text-primary" style="text-align: center;">
                        <a href="#" class="linkcolor" style="text-decoration: none;">ENGLISH</a>
                    </div> -->

                    <a style="text-decoration: none;" onclick="myFunc();" data-toggle="collapse" href="#searchLanguage"
                        role="button" aria-expanded="false" aria-controls="searchLanguage"
                        class="p-2 mt-1 ml-auto mr-4 fa fa-chevron-down"></a>

                    <i class="material-icons mt-2">compare_arrows</i>
                </div>
            </div>

            <div class="d-flex" style="width: 45%;">
                <div class="d-flex w-100">
                    <div class="underline p-2 ml-3 text-primary" style="text-align: center;">
                        <a href="#" class="linkcolor" style="text-decoration: none;">BANGLA</a>
                    </div>

                    <a style="text-decoration: none;" onclick="myFunc();" data-toggle="collapse" href="#searchLanguage"
                        role="button" aria-expanded="false" aria-controls="searchLanguage"
                        class="p-2 mt-1 ml-auto fa fa-chevron-down"></a>
                </div>
            </div>
        </div>
        <div class="collapse shadow mt-0" id="searchLanguage">
            <div class="card card-body border-0">
                <input type="search" class="shadow p-2 w-100" style="border: none; outline: none; border-radius: 5%;"
                    placeholder="Search Languages" />
                <div class="row mt-3">
                    <div class="col-4">
                        <a href="#" style="text-decoration: none;">Armania</a> <br>
                        <a href="#" style="text-decoration: none;">Arabic</a> <br>
                        <a href="#" style="text-decoration: none;">Danish</a> <br>
                        <a href="#" style="text-decoration: none;">German</a><br>
                        <a href="#" style="text-decoration: none;">Greek</a>
                    </div>
                    <div class="col-4">
                        <a href="#" style="text-decoration: none;">Farsi</a><br>
                        <a href="#" style="text-decoration: none;">Polish</a><br>
                        <a href="#" style="text-decoration: none;">Malay</a><br>
                        <a href="#" style="text-decoration: none;">Portu</a><br>
                        <a href="#" style="text-decoration: none;">Turkish</a>
                    </div>
                    <div class="col-4">
                            <a href="#" style="text-decoration: none;">Armania</a> <br>
                            <a href="#" style="text-decoration: none;">Arabic</a> <br>
                            <a href="#" style="text-decoration: none;">Danish</a> <br>
                            <a href="#" style="text-decoration: none;">German</a><br>
                            <a href="#" style="text-decoration: none;">Greek</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex">
            <div class="d-flex shadow mt-1" style="width: 54%;">
                <div class="d-flex p-2 ml-3 w-100">
                    <div class="w-100">
                        <textarea class="w-100" rows="4" placeholder="Write Something to Translate !"></textarea>
                        <div class="d-flex" style="color: grey;">

                            <i class="material-icons mr-auto">mic</i>
                            
                            1/1000 <i class="material-icons ml-3">keyboard</i> 
                        </div>
                    </div>
                </div>

            </div>

            <div class="shadow d-flex" style="width: 46%;">
                <div class="ml-4 mt-3" id="printedValue">
                    Translation
                </div>
            </div>

        </div>

        <a href="#" style="text-decoration: none;" class="btn btn-sm btn-primary mt-4 ml-auto" onclick="getElement();">SUBMIT</a>
    </div>
    <br>


</body>

</html>


<script>

    // document.getElementById('ckeditor').value = "Enter Something to Translate into Bangla!";
    function getElement() {
        var text = document.getElementsByTagName('textarea')[0].value;
        // document.write(text.nodeValue);

        document.getElementById('printedValue').innerHTML = "Something will be printed!";
        // alert(text.toString());

        // if(text){
        //     document.getElementById('printedValue').innerHTML = text.trim();
        //     document.getElementById('printedValue').innerHTML = "sdgjfk";
        // }
        // else{
        //     document.getElementById('printedValue').innerHTML = "You haven't written yet.";
        // }

        // document.getElementById('printedValue').innerHTML = "You haven't written yet.";

    }

</script>