<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="position-relative">

        <!-- <div class="d-flex"> -->
        <img src="images/XOSS3.jpg" class="w-100">
        <!-- </div> -->

        <div class="d-flex justify-content-between position-absolute" style="top:10%;">


        </div>
    </div>
    <br>


    <div class="d-flex w-100">
        <div class="col-8">
            <div class="ml-5 justify-content-start">
                <h1>Datasets</h1>
            </div>

        </div>

        <div class="col-2">
            <a href="#" class="mt-2 btn btn-sm btn-primary">
                Documentation
            </a>
        </div>

        <div class="col-2">
            <a href="#" class="d-block mt-2 btn btn-sm btn-success">
                New Dataset
            </a>
        </div>

        <!-- <div class="mt-2 justify-content-between">
            <a href="#" class="btn btn-sm btn-success">
                Documentation
            </a>
            <a href="#" class="ml-1 btn btn-sm btn-primary">
                New Dataset
            </a>
        </div> -->

    </div>

    </div>


    <!-- <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div>
                        <div class="card-header" style="color:darkcyan;">
                            <h2> Dashboard | Profile </h2>
                        </div>
    
                        <div class="card-body">
    
                            <div class="col-md-10 col-md-offset-1">
    
                                <img src="images/Masum.png" style="width: 150px; height: 160px; float: left; border-radius: 50%; margin-right: 25px;" alt="No image founded">
    
                                    <h4 style="color:black;">| Masum Ahmed EeSha</h4> 
                             
                                <h5> Shahjalal university of Science and Technology </h5> <br>
    
                                <a href="#" class="btn btn-primary btn-sm">Update</a>
    
                                <a href="#" class="btn btn-danger btn-sm" style="pointer-events: none;" disabled >Add More Info</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div>
                        <div class="card-header" style="color:darkcyan;">
                            <h2> Profile | Personal Information </h2>
                        </div>
                        <div class="card-body">
                            Nothing to be seen ! Sorry :|
    
                        </div>
                    </div>
                </div>
            </div>
     -->



    <!-- </div> -->

    <br>
    <%- include('../includes/end.ejs') %>