<%- include('../includes/head.ejs') %>
<style>
    /* * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    } */
    /* 
    .item {
        position: absolute;
    } */

    #itemContainer {
        background: url('images/XOSS3.jpg');
        height: 100%;
        position: relative;
        padding: 1.5%;
    }
</style>

</head>

<body style="font-family: ubuntu;">
    <%- include('../includes/navigation.ejs') %>


    <div id="itemContainer">
        <div class="row">

            <div class="col-8">
                <div class="ml-5">
                    <h1 style="color: white;">About Us</h1>
                </div>
            </div>

            <div class="col-4">
                <div class="d-inline-block float-right">
                    <a href="#" class="mt-3 btn btn-sm btn-primary">
                        Linkin In
                    </a>
                    <a href="#" class="mt-3 btn btn-sm btn-success">
                        Details
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-4"></div>

    <!-- <div class="container">
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div>
                        <div class="card-header" style="color:darkcyan;">
                            <h2> Dashboard | Profile </h2>
                        </div>
    
                        <div class="card-body">
    
                            <div class="col-md-10 col-md-offset-1">
    
                                <img src="images/Masum.png" style="width: 150px; height: 160px; float: left; border-radius: 50%; margin-right: 25px;" alt="No image founded">
    
                                    <h4 style="color:black;">| Masum Ahmed EeSha</h4> 
                             
                                <h5> Shahjalal university of Science and Technology </h5> <br>
    
                                <a href="#" class="btn btn-primary btn-sm">Update</a>
    
                                <a href="#" class="btn btn-danger btn-sm" style="pointer-events: none;" disabled >Add More Info</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div>
                        <div class="card-header" style="color:darkcyan;">
                            <h2> Profile | Personal Information </h2>
                        </div>
                        <div class="card-body">
                            Nothing to be seen ! Sorry :|
    
                        </div>
                    </div>
                </div>
            </div>
     -->



    </div>

    <br>
    <%- include('../includes/end.ejs') %>