<%- include('../includes/head.ejs') %>
<style>
    /* * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    } */
    /* 
    .item {
        position: absolute;
    } */

    #itemContainer {
        background: url('images/XOSS3.jpg');
        height: 100%;
        position: relative;
        padding: 1.5%;
    }
</style>

</head>

<body style="font-family: ubuntu;">
    <%- include('../includes/navigation.ejs') %>


    <div id="itemContainer">
        <div class="row">

            <div class="col-8">
                <div class="ml-5">
                    <h1 style="color: white;">About Us</h1>
                </div>
            </div>

            <div class="col-4">
                <div class="d-inline-block float-right">
                    <a href="#" class="mt-3 btn btn-sm btn-primary">
                        Linkin In
                    </a>
                    <a href="#" class="mt-3 btn btn-sm btn-success">
                        Details
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-4"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow">
                    <div class="card-header shadow bg-primary">
                        <h2><kbd>What we want to do?</kbd></h2>
                    </div>
                    <div class="card-body shadow">
                        <p>
                            NLP stands for Neuro-Linguistic Programming. Neuro refers to your neurology; Linguistic
                            refers to language; programming refers to how that neural language functions. In other
                            words, learning NLP is like learning the language of your own mind!
                        </p>
                        <code>
                                Neuro-Linguistic Programming is like a user’s manual for the brain, and taking an NLP training is like learning how to become fluent in the language of your mind so that the ever-so-helpful “server” that is your unconscious will finally understand what you actually want out of life.
                        </code>
                        <br><br>
                        <p>
                            Have you ever tried to communicate with someone who didn’t speak your language, and they
                            couldn’t understand you? The classic example of this is when someone goes out to a
                            restaurant in a Foreign country and they think they ordered steak, but when the food shows
                            up, it turns out they actually asked for liver stew.
                        </p>
                        <code>
                                NLP is the study of excellent communication–both with yourself, and with others. It was developed by modeling excellent communicators and therapists who got results with their clients. NLP is a set of tools and techniques, but it is so much more than that. It is an attitude and a methodology of knowing how to achieve your goals and get results.
                        </code>
                        <br><br>
                        <p>
                            This is the kind of relationship that most of us have with our own unconscious mind. We
                            might think we are “ordering up” more money, a happy, healthy relationship, peace with our
                            family members, and being able to stick to a healthy diet…but unless that’s what showing up,
                            then something is probably getting lost in translation.
                        </p>

                        <code>
                                Here at NLP.com, presented by The Empowerment Partnership, our mission, put simply is to empower the planet. How does teaching NLP help us do that? Because after being in business for 30 years, we’ve have spent that time gathering all of the best concepts and techniques to help you get in control of your mind, your emotional state, and your life.
                        </code>
                        <br><br>
                        <p>
                            In NLP, we have a saying: the conscious mind is the goal setter, and the unconscious mind is
                            the goal getter. Your unconscious mind is not out to get you–rather, it’s out TO GET FOR YOU
                            whatever you want in life. However, if you don’t know how to communicate what you want
                            properly, it will keep bringing steaming bowls of liver stew out of the kitchen.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <%- include('../includes/end.ejs') %>