<%- include('../includes/head.ejs') %>

</head>

<body style="font-family: ubuntu;">
    <%- include('../includes/navigation.ejs') %>
    <img src="images/XOSS2.jpg" width="100%" height="100%"/>

    <div class="container-fluid mt-5 mb-3">
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="carousel slide carousel-fade" id="carouselE" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselE" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselE" data-slide-to="1"></li>
                            <li data-target="#carouselE" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-interval="2500">
                                <div class="card text-white bg-success" style="height: 11em;">
                                    <div class="card-header bg-dark">
                                        <h5>| Paper from SUST CSE Accepted in IEEE SCC 2019 </h5>
                                    </div>
                                    <div class="card-body" width="30px">
                                        <p class="card-text">
                                            One conference paper accepted to 8th IEEE Annual Computing and Communication
                                            Workshop and Conference. Cloud security and privacy
                                            Innovative mobile malware defenses. Secure data and location provenance
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item" data-interval="2500">
                                <div class="card text-white" style="background: #3F6CD9; height: 11em;">
                                    <div class="card-header bg-dark">
                                        <h5>| Two journal paper accepted to Elsevier’s Future Generation Computation
                                            System
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Established by Dr. Ragib Hasan, Assistant Professor, CIS, UAB, the SECRETLab
                                            currently explores research projects focused on efficient and practical
                                            security. Current projects at the SECRETLab include.
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item" data-interval="2500">
                                <div class="card text-white bg-primary" style="height: 11em;">
                                    <div class="card-header bg-dark">
                                        <h5>| One conference paper accepted to 8th ACM Conference on Data and Security
                                        </h5>
                                    </div>
                                    <div class="card-body" width="30px">
                                        <p class="card-text">
                                            Every student from SUST has to take two language courses, one in Bangla and
                                            the other one in English. Every student also has to take two computer
                                            courses, one for computer literacy and the other to learn a computer
                                            language.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- <a class="carousel-control-prev" href="#carouselE" role="button" data-slide="prev">
                            <h1><span class="fa fa-chevron-circle-left mt-3" aria-hidden="true"></span></h1>
                            <span class="sr-only">Previous</span>
                        </a> -->
                        <!-- <a class="carousel-control-next" href="#carouselE" role="button" data-slide="next">
                            <h1><span class="fa fa-chevron-circle-right mt-3" aria-hidden="true"></span></h1>
                            <span class="sr-only">Next</span>
                        </a> -->
                    </div>
                </div>
                <div class="container">
                    <h1 class="mt-3" style="color: blueviolet;">| Home</h1>
                    <!-- <img class="img-thumbnail" src="images/XOSS.jpg"> -->
                    <p class="mt-3">
                        After a long struggle and a relentless movement, the Shahjalal University of Science and
                        Technology (SUST) was established in 1986. The only university of its kind at that time, it
                        started it's career on the 1st Phalgun(13th of February 1991) with only three departments:
                        Physics, Chemistry and Economics, 13 teachers and 205 students. It has now expanded to 7
                        schools, 27 departments and two institutes. The number of teachers has grown to 552 and the
                        students to 10922. Besides, the University has 13 affiliated medical colleges under the School
                        of Medical Sciences with 4000 students. SUST introduced the integrated honours course for the
                        first time in Bangladesh. It introduced the semester system from the 1996-97 session and there
                        was a remarkable improvement in the quality of education after the introduction of this system,
                        which was visible even in the national arena. Every student from SUST has to take two language
                        courses, one in Bangla and the other one in English. Every student also has to take two computer
                        courses, one for computer literacy and the other to learn a computer language. The computer
                        center of SUST offers courses to every employees and one can say, without any hesitation that
                        SUST is the most IT enabled university in this country. SUST has started it's graduate programs
                        by offering masters degree to graduating bachelors of most of the departments. It is difficult
                        to start a world-class research program without a well funded graduate school, even then the
                        teachers of SUST are trying to create a research environment in the campus. Two research
                        journals are published regularly from SUST, one in Bangla and the other one in English where a
                        few hundred research papers are submitted every year. Several departments have hosted
                        International Conferences and are planning to organize similar events in the near future.
                    </p>

                </div>

            </div>


            <div class="col-md-4">
                <div class="container">
                    <table class="table">
                        <tr>
                            <th class="bg-dark" style="color: white;">RECENT NEWS</th>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    Two journal paper accepted to Elsevier’s Future Generation Computation System
                                </a> 
                            </td>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    One conference paper accepted to 8th ACM Conference on Data and Application Security
                                    and Privacy
                                </a> </td>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    A Paper from SECRETLab Accepted in IEEE SCC 2017
                                </a> </td>
                        </tr>
                    </table>
                    <table class="table mt-3">
                        <tr>
                            <th class="bg-success" style="color: white;">RESEARCH AREAS</th>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    Secure Identity
                                </a> </td>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    Cloud Forensics
                                </a> </td>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    Mobile Cloud
                                </a> </td>
                        </tr>
                        <tr>
                            <td> <a href="#">
                                    Location Provenance
                                </a> </td>
                        </tr>
                    </table>

                    <table class="table mt-3">
                        <tr>
                            <th class="bg-dark" style="color: white;">OPENINGS : RESEARCH ASSISTANT</th>
                        </tr>
                        <tr>
                            <td>
                                If you'd like to apply for Research Assistant (RA) position send us your CV and
                                Statement of Purpose (SOP). Click here for
                                <a href="#">details.</a>
                            </td>
                        </tr>
                    </table>

                    <table class="table mt-3">
                        <tr>
                            <th class="bg-success" style="color: white;">QUICK LINKS</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">CIS Department</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">User Survey</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#">CIA | JFR</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <%- include('../includes/end.ejs') %>